In [1]:
import pandas as pd
import sqlite3
import matplotlib.pyplot as plt
from sklearn.feature_extraction import DictVectorizer

In [2]:
# Read data in various formats, including CSV, Excel, and SQL databases.
def user():
    def process_csv(file_path):
        df = pd.read_csv(file_path)
        return df

    def process_excel(file_path):
        df = pd.read_excel(file_path)
        return df

    def process_sql(database_path):
        # Create your connection.
        conn = sqlite3.connect(database_path, table_name)
        query = f"SELECT * FROM {table_name}"
        df = pd.read_sql_query(query, conn)
        conn.commit()
        conn.close()
        return df
    
    try:
        print("Please, Enter the path of the file")
        print("Make sure the file extension is 'csv', 'xlsx' or 'db'")
        file_path = input()
        if file_path.split('.')[1] == 'csv':
            return process_csv(file_path)
        elif file_path.split('.')[1] == 'xlsx':
            return process_excel(file_path)
        elif file_path.split('.')[1] == 'db':
            table_name = input("Please, Enter the table name: ")
            return process_sql(database_path, table_name)
    except:
        print("Opps, you input something error")

In [3]:
# identifying the data types of each column
def identifying_column(df):
    print("\n")
    print('>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>')
    print("Dataframe:")
    print("\n")
    print(df)
    print("\n")
    print('>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>')
    print("identifying the data types of each column:")
    print("\n")
    print(pd.DataFrame(df.dtypes))
    print("\n")
    print('>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>')
    print("identifying the data types of each column:")
    print("\n")
    print(df.info())

In [ ]:
# handling duplicates and nulls values
def handle_duplicates_and_nulls(df):
    # print(df.duplicated())
    df = df.drop_duplicates()
    print("\n")
    print('>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>')
    print("\n")
    print("The duplicated rows had handled")
    print("\n")
    print('>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>')
    print("Sum of null values:")
    print("\n")
    print(df.isna().sum())
    print("\n")
    print('>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>')
    print("\n")
    lst_of_columns_name = list (df.columns)
    lst_of_types = list(dict(pd.DataFrame(df.dtypes))[0])
    lst_of_null_values =  list(df.isna().sum())
    for i in range(0, len(lst_of_null_values)):
        if lst_of_null_values[i] != 0:
            print(f"A column named '{lst_of_columns_name[i]}' and type '{lst_of_types[i]}' contains ({lst_of_null_values[i]}) null values")
            if lst_of_types[i] != "object":
                print("Please, Enter the number of your choice to handle missing data")
                print("1) Dropping rows with missing values")
                print("2) Imputing missing values with the median")
                print("3) Imputing missing values with the mean")
                print("4) Imputing missing values a constant")
                print("5) None")
                answer = input()
                if answer == "1":
                    # Handling missing data (dropping rows with missing values)
                    df = df.dropna()
                elif answer == "2": 
                    # Handling missing data (imputing missing values with the median)
                    df = df.fillna(df.median())
                elif answer == "3":
                    # Handling missing data (imputing missing values with the mean)
                    df = df.fillna(df.mean())
                elif answer == "4":
                    # Handling missing data (imputing missing values with a constant)
                    constant = input('Please, Enter the constant ')
                    df = df.fillna(constant)
                elif answer == "5":
                    print("Ok")
                    print("The nulls values had not handled")
                else:
                    print(f"You made the wrong choice --> {answer}")
                    print("The nulls values had handled by dropping rows with missing values")
                    df = df.dropna()
            else:
                print("Please, Enter the number of your choice to handle missing data")
                print("1) Dropping rows with missing values")
                print("2) Imputing missing values a constant")
                print("3) None")
                answer = input()
                if answer == "1":
                    # Handling missing data (dropping rows with missing values)
                    df = df.dropna()
                elif answer == "2":
                    # Handling missing data (imputing missing values with a constant)
                    constant = input('Please, Enter the constant ')
                    df = df.fillna(constant)
                elif answer == "3":
                    print("Ok")
                    print("The nulls values had not handled")
                else:
                    print(f"You made the wrong choice --> {answer}")
                    print("The nulls values had handled by dropping rows with missing values")
                    df = df.dropna()
    return df

In [5]:
# ncoding categorical features
def encode_categorical_features(df):
    # turn df into dict
    df_dict = df.to_dict(orient='records') 
    # instantiate a Dictvectorizer object for X
    dv_X = DictVectorizer(sparse=False)  # sparse = False makes the output is not a sparse matrix
    # apply dv_X on df_dict
    X_encoded = dv_X.fit_transform(df_dict)
    return X_encoded

In [6]:
# Scaling numerical features
def normalize_dataframe(df):
    lst_of_columns_name = list (df.columns)
    lst_of_types = list(dict(pd.DataFrame(df.dtypes))[0])
    for index in range(0, len(lst_of_types)):
        if lst_of_types[index] == "object":
            df = df.drop(lst_of_columns_name[index], axis=1)
    
    # Pandas Normalize using Mean Normalization
    normalized_df=df.apply(lambda x: (x-x.mean())/ x.std(), axis=0)
    return normalized_df

In [7]:
def data_visualization(df):
    def Plot_details(columns):
        plt.figure(figsize=(10,7))
        plt.plot(df[columns], df[columns] , label = columns)
        # add label in x-axis and y-axis
        plt.xlabel(columns)
        plt.ylabel(columns)
        # add title for graph
        plt.title(f'plot for {columns}')
        plt.legend()
        plt.grid(True)
        plt.show()
        
    def Bar_chart(columns):
        count = df[columns].value_counts()
        count = pd.DataFrame(count)
        plt.bar(count.T.columns, count[columns], label = columns)
        plt.xlabel(columns)
        plt.title(f'Bar chart for {columns}')
        plt.legend()
        plt.grid(True)
        plt.show()
    
    def histogram(columns):
        plt.figure(figsize=(10,7))
        plt.hist(df[columns], bins= 100, color='red', label = columns)
        # add label in x-axis and y-axis
        plt.xlabel(columns)
        # add title for graph
        plt.title(f'plot for {columns}')
        plt.grid()
        plt.legend()
        plt.show()
    
    def Scatter_plot(columns_1, columns_2):
        plt.scatter(df[columns_1], df[columns_2], color='red', label= f'{columns_1} vs {columns_2}')

        plt.legend()
        plt.grid(True)
        plt.show()

    def Pie_chart(columns):
        count = df[columns].value_counts()
        print(count)
        plt.figure(figsize=(10,10))
        plt.pie(count, labels=count.index.values.tolist(), rotatelabels=True)
        plt.title(columns)
        plt.show()
    
    
    lst_of_columns_name = list (df.columns)
    lst_of_types = list(dict(pd.DataFrame(df.dtypes))[0])
    
    for index in range(0, len(lst_of_types)):
        if lst_of_types[index] != "object":
            print(f'Any graphical relations you want to apply to {lst_of_columns_name[index]}?')
            print("Please, Enter the numbers of your choices separated by ','")
            print("1) Plot Details")
            print("2) Bar Chart")
            print("3) Histogram")
            print("4) Pie Chart")
            print("5) None")
            answer = input()
            answer = answer.split(',')
            for i in answer:
                if i == "1":
                    Plot_details(lst_of_columns_name[index])
                elif i == "2": 
                    Bar_chart(lst_of_columns_name[index])
                elif i == "3":
                    histogram(lst_of_columns_name[index])
                elif i == "4":
                    Pie_chart(lst_of_columns_name[index])
                elif i == "5":
                    print("Ok") 
                else:
                    print(f"You made the wrong choice --> {i}")
    
        else:
            print(f'Any graphical relations you want to apply to {lst_of_columns_name[index]}?')
            print("Please, Enter the numbers of your choices separated by ','")
            print("1) Bar Chart")
            print("2) Pie Chart")
            print("3) None")
            answer = input()
            answer = answer.split(',')
            for i in answer:
                if i == "1":
                    Bar_chart(lst_of_columns_name[index])
                elif i == "2": 
                    Pie_chart(lst_of_columns_name[index])
                elif i == "3":
                    print("Ok")
                else:
                    print(f"You made the wrong choice --> {i}")

In [ ]:
flag = True
while flag:
    try:
        df = user()
        #df = df.head(100)
        identifying_column(df)
        df = handle_duplicates_and_nulls(df)
        encode_df = encode_categorical_features(df)
        print("\n")
        print('>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>')
        print("Encode df")
        print("\n")
        print(encode_df)
        print("\n")
        print('>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>')
        normalized_df = normalize_dataframe(df)
        print("Normalized df")
        print("\n")
        print(normalized_df)
        print("\n")
        print('>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>')
        print("\n")
        data_visualization(df)
        flag = False
    except:
        print('Do you want to enter the path of the file again?')
        print("Please, Enter the number of your choice")
        print("Please note that if you enter a wrong choice, it will be charged 'no'.")
        print("1) YES")
        print("2) NO")
        answer = input()
        if answer != "1":
            flag = False

Please, Enter the path of the file
Make sure the file extension is 'csv', 'xlsx' or 'db'
International_Report_Passengers.csv


>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
Dataframe:


      data_dte  Year  Month  usg_apt_id usg_apt  usg_wac  fg_apt_id fg_apt  \
0   05/01/2014  2014      5       14492     RDU       36      11032    CUN
1   06/01/2007  2007      6       13204     MCO       33      16085    YHZ
2   12/01/2005  2005     12       11433     DTW       43      10411    AUA
3   04/01/2003  2003      4       13487     MSP       63      16304    ZIH
4   12/01/2005  2005     12       12016     GUM        5      11138    CRK
..         ...   ...    ...         ...     ...      ...        ...    ...
95  02/01/2008  2008      2       13303     MIA       33      10911    CCS
96  06/01/2003  2003      6       11433     DTW       43      13180    MBJ
97  06/01/2004  2004      6       10529     BDL       11      11032    CUN
98  08/01/2008  2008      8       11433     DTW       43      16271    YYZ
99  07/01/2004  2004      7       14057     PDX       92      16257    YYC

    fg_wac  airlineid carrier  carriergroup        type  Scheduled  Charter  \
0      148      19534      AM             0  Passengers          0      315
1      951      20364      C6             0  Passengers          0      683
2      277      20344      RD             1  Passengers          0     1010
3      148      20204      MG             1  Passengers          0      508
4      766      20312      TZ             1  Passengers          0       76
..     ...        ...     ...           ...         ...        ...      ...
95     388      20203     FCQ             1  Passengers          0     3542
96     243      20147      T9             1  Passengers          0      683
97     148      20423      U5             1  Passengers          0      639
98     936      20402      GL             1  Passengers          0       44
99     916      20203     FCQ             1  Passengers          0       29

    Total
0     315
1     683
2    1010
3     508
4      76
..    ...
95   3542
96    683
97    639
98     44
99     29

[100 rows x 16 columns]


>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
identifying the data types of each column:


                   0
data_dte      object
Year           int64
Month          int64
usg_apt_id     int64
usg_apt       object
usg_wac        int64
fg_apt_id      int64
fg_apt        object
fg_wac         int64
airlineid      int64
carrier       object
carriergroup   int64
type          object
Scheduled      int64
Charter        int64
Total          int64


>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
identifying the data types of each column:


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   data_dte      100 non-null    object
 1   Year          100 non-null    int64
 2   Month         100 non-null    int64
 3   usg_apt_id    100 non-null    int64
 4   usg_apt       100 non-null    object
 5   usg_wac       100 non-null    int64
 6   fg_apt_id     100 non-null    int64
 7   fg_apt        100 non-null    object
 8   fg_wac        100 non-null    int64
 9   airlineid     100 non-null    int64
 10  carrier       98 non-null     object
 11  carriergroup  100 non-null    int64
 12  type          100 non-null    object
 13  Scheduled     100 non-null    int64
 14  Charter       100 non-null    int64
 15  Total         100 non-null    int64
dtypes: int64(11), object(5)
memory usage: 12.6+ KB
None


>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>


The duplicated rows had handled


>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>


data_dte        0
Year            0
Month           0
usg_apt_id      0
usg_apt         0
usg_wac         0
fg_apt_id       0
fg_apt          0
fg_wac          0
airlineid       0
carrier         2
carriergroup    0
type            0
Scheduled       0
Charter         0
Total           0
dtype: int64


>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>


A column named 'carrier' and type 'object' contains (2) null values
Please, Enter the number of your choice to handle missing data
1) Dropping rows with missing values
2) Imputing missing values a constant
3) None
1


>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
Encodedf


[[3.1500e+02 5.0000e+00 0.0000e+00 ... 0.0000e+00 1.4492e+04 3.6000e+01]
 [6.8300e+02 6.0000e+00 0.0000e+00 ... 0.0000e+00 1.3204e+04 3.3000e+01]
 [1.0100e+03 1.2000e+01 0.0000e+00 ... 0.0000e+00 1.1433e+04 4.3000e+01]
 ...
 [6.3900e+02 6.0000e+00 0.0000e+00 ... 0.0000e+00 1.0529e+04 1.1000e+01]
 [4.4000e+01 8.0000e+00 0.0000e+00 ... 0.0000e+00 1.1433e+04 4.3000e+01]
 [2.9000e+01 7.0000e+00 0.0000e+00 ... 0.0000e+00 1.4057e+04 9.2000e+01]]


>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
Normalized df


        Year     Month  usg_apt_id   usg_wac  fg_apt_id    fg_wac  airlineid  \
0   3.141128 -0.314426    1.110188 -0.311267  -1.310408 -0.913272  -2.280957
1   0.689690 -0.031731    0.273881 -0.419822   1.143359  1.534250   0.421400
2  -0.010721  1.664440   -0.876040 -0.057970  -1.611969 -0.520084   0.356283
3  -0.711131 -0.597122    0.457635  0.665734   1.249707 -0.913272  -0.099536
4  -0.010721  1.664440   -0.497494 -1.433008  -1.258934  0.970375   0.252096
..       ...       ...         ...       ...        ...       ...        ...
95  1.039896 -1.162512    0.338163 -0.419822  -1.369166 -0.181759  -0.102792
96 -0.711131 -0.031731   -0.876040 -0.057970  -0.267326 -0.623715  -0.285120
97 -0.360926 -0.031731   -1.463013 -1.215897  -1.310408 -0.913272   0.613496
98  1.039896  0.533659   -0.876040 -0.057970   1.233682  1.488530   0.545123
99 -0.360926  0.250964    0.827740  1.715105   1.226884  1.427571  -0.102792

    carriergroup  Scheduled   Charter     Total
0      -1.573051        NaN -0.338595 -0.338595
1      -1.573051        NaN -0.010119 -0.010119
2       0.629220        NaN  0.281761  0.281761
3       0.629220        NaN -0.166324 -0.166324
4       0.629220        NaN -0.551926 -0.551926
..           ...        ...       ...       ...
95      0.629220        NaN  2.541820  2.541820
96      0.629220        NaN -0.010119 -0.010119
97      0.629220        NaN -0.049393 -0.049393
98      0.629220        NaN -0.580490 -0.580490
99      0.629220        NaN -0.593879 -0.593879

[98 rows x 11 columns]


>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>


Any graphical relations you want to apply to data_dte?
Please, Enter the numbers of your choices separated by ','
1) Bar Chart
2) Pie Chart
3) None